<div class="ps-page--404">
  <div class="container bg">

<div class="container"> 

  <div class="row">  
    <div class="col-md-6">  
     <h3 class="pub">Publicar</h3>
    <form  [formGroup]="form"> 
      <fieldset class="fWidth"> 
      <h5 class="txt">Título</h5> 
      <input type="text" size="40"  formControlName="titulo"  class="form-control"><br />
      <h5 class="txt">Imagen</h5>
      <!--input type="file" id="imagen" name="imagen"-->
      <!--button type="file" id="imagen" formControlName="imagen" class="btn btn-primary">Primary</button-->
      <input #inputFoto hidden="true" type="file" name="imagen"  formControlName="file" id="file"   multiple onclick="this.value=null" (change)="onFileChoosen($event)" />
      <button mat-flat-button class="btnFile" type="button" (click)="inputFoto.click()" class="btnFile"><span class="txtFile">Seleccionar</span></button> 
      <br />
      <h5 class="txt">Redacción</h5>
      <textarea formControlName="descripcion" cols="50" rows="6"  class="form-control">
      </textarea><hr>

 
      <a routerLink="/noticias" class="btn btn-warning btn-lg active lft" role="button" aria-pressed="true">Cancelar</a> 
   
      <a  (click)="save()" class="btn btn-success btn-lg active rgt" role="button" aria-pressed="true">Publicar</a>
    </fieldset>
    </form> 
  </div> 
  </div>
    </div> 

  </div> 
  
</div> 
