.bg{
    background-color: whitesmoke !important;
}
.pub{
    color: blue !important;
}

.lft{
    float: left !important;
    background-color: red;
}


.rgt{
    float: right !important;
}
.fwidth{
    width: 700px !important;
}

.btnFile{
    background-color: rgb(4, 0, 255) !important;
}

.btnFile{
    color: white !important;
}

.txt{
    margin-top: 25px !important;
}
