
<!--app-header></app-header-->
<div class="ps-page--404">
    <div class="container bg">
      
        <p class="head"> <img class="" src="assets/img/seguros2.png" alt="Card image cap"></p>


<div class="plan">   
<form class="planes" [formGroup]="form">
    <img class="img365" src="assets/img/affinity.png" alt="Card image cap">
    <h3>Ver planes disponibles </h3>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="input_email">Usuario</label>
                <input type="text" class="form-control" id="input_email" formControlName="login"
                    placeholder="Usúario" required>
               
            </div>
           
        </div>
        <div class="col-12 mb-4">
            <div class="form-group">
                <label for="input_password">Contraseña</label>
                <input type="password" class="form-control" id="input_password" formControlName="senha"
                    placeholder="Senha" required>
            </div>
        </div>

      

        <div class="col-12">
            <button (click)="GetPlanos()" class="btn btn-success btn-block bttn" >
                Consultar
            </button>
        </div>

        <div id="container_or" class="col-12 my-2">
            <hr />
            <span class="ion-text-center ion-no-margin"></span>
        </div>

    </div>
</form>    
</div>  


<div class="Assits365">   
     
    <form class="planes" [formGroup]="assits">
        <img class="img365" src="assets/img/assits365.png" alt="Card image cap">
        <h3 class="assitsProd">Ver Productos de Coberturas</h3>
      <div class="row">
       <table class="table table">
          <tr>
            <td> 
                <div class="form-group">
                 
                    <label for="selRegion">Región:</label>
                    <select class="form-control"   formControlName="assistRegion">
                      <option  value="16" selected>Estados Unidos e Canada </option>
                      <option  value="9">Asia</option>
                      <option  value="10">Europa</option>
                      <option  value="17">Demais paises</option>
                      <option  value="5">Sudamerica y Caribe</option>
                      <option  value="2">Oceanía</option>
                      <option  value="9">Africa</option>
                   </select>
               </div>
            </td>
            <td>
                 <div class="form-group">
                    <label for="selPais">País:</label>
                    <select class="form-control"   formControlName="assistPais">
                      <option  value="1" selected>Estados Unidos </option>
                      <option  value="4">Brasil</option>
                      <option  value="5">España</option>
                      <option  value="8">Venezuela</option>
                      <option  value="10">Colombia</option>
                   </select>
                </div>
           </td>
           
          </tr>
          <tr>
            <td>
                <div class="form-group">
                <label for="day">Días para cotizar</label>
                <input type="number" class="form-control" id="input_email" formControlName="days"
                    placeholder="Días" min="0" required>
               
               </div>
          </td>
            <td>
                <div class="form-group">
                    <label for="key">Clave de entidad</label>
                    <input type="number" class="form-control" id="input_email" formControlName="entiKey"
                        placeholder="Clave" min="0" required>
                </div>
            </td>
        
          </tr>
          <tr>
            <td> 
                <div class="form-group">
                <label for="date">Año de la fecha de regreso</label>
                <input type="date" class="form-control"  formControlName="returnDate" required>
               
               </div>
           </td>
            <td> 
                <div class="form-group">
                <label for="totalPax">Total de pasajeros</label>
                <input type="number" class="form-control" formControlName="totalPax"
                    placeholder="Total" min="0" required>
               
               </div>
            </td>
         
          </tr>
          <tr>
            <td>
                <div class="form-group">
                    <label for="totalPax">Edad de pasajeros</label>
                    <input type="number" class="form-control" formControlName="edadPax"
                        placeholder="Edad" min="0" required>
                   
                   </div>
            </td>
            <td>  
                <div class="form-group">
                <label for="sel1">Lista de productos según cobertura:</label>
              <select class="form-control"   formControlName="listProduct">
                <option  value="2" selected>Covid </option>
                <option  value="1">No covid</option>
                
             </select>
            </div>
           </td>
          
          </tr>   
      </table>
          
    
            <div class="col-12">
                <button (click)="GetCotacao()" class="btn btn-success btn-block bttn" >
                    Ver productos
                </button>
             
            </div>
    
            <div id="container_or" class="col-12 my-2">
                <hr />
                <span class="ion-text-center ion-no-margin"></span>
            </div>
    
        </div>
    </form> 

    </div>  



    <div class="Assits365">   
     
        <div class="planes">
            <h3 class="assitsProd">World cover</h3>
            <h4 class="assitsUsd">USD 20</h4>
            <h5 class="assitsPrice">VES 5.045.925</h5>
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Asistencia médica en caso de accidente</th>
                    <th>USD 50.000</th>
                 
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Asistencia médica en caso de enfermedad</td>
                    <td>USD 50.000</td>
                
                  </tr>
                  <tr>
                    <td>Medicamentos por hospitalización</td>
                    <td>Incluido</td>
                
                  </tr>
                  <tr>
                    <td>Medicamentos Ambulatorios</td>
                    <td>USD 200</td>
              
                  </tr>
                </tbody>
              </table>
              <div class="col-12">
                <a  (click)="Select()" class="btn btn-success btn-block active prod" role="button" aria-pressed="true">Seleccionar</a>
            </div>
     
        </div> 
    
        </div>    
    

        <div class="Assits365">   
     
            <form class="planes" [formGroup]="emitP">
                <img class="img365" src="assets/img/assits365.png" alt="Card image cap">
                <h3 class="assitsProd">Emitir Póliza de Seguros</h3>
              <div class="row">
               <table class="table table">
                  <tr>
                    <td> 
                        <div class="form-group">
                         
                            <label for="day">Clave de entidad</label>
                            <input type="number" class="form-control" id="input_email" formControlName="days"
                                placeholder="key" min="0" required>
                       </div>
                    </td>
                    <td>
                         <div class="form-group">
                            <label for="day">Clave de vendedor</label>
                            <input type="number" class="form-control" id="input_email" formControlName="days"
                                placeholder="key" min="0" required>
                        </div>
                   </td>

                   <td>
                    <div class="form-group">
                       <label for="selPais">Producto:</label>
                       <select class="form-control"   formControlName="assistPais">
                         <option  value="1" selected>World cover </option>
                         <option  value="2">Safe travel</option>
                         <option  value="3">Premiun</option>
                       
                      </select>
                   </div>
              </td>
                   
                  </tr>
                  <tr>
                    <td>
                        <div class="form-group">
                            <label for="selPais">País:</label>
                            <select class="form-control"   formControlName="assistPais">
                              <option  value="1" selected>Estados Unidos </option>
                              <option  value="4">Brasil</option>
                              <option  value="5">España</option>
                              <option  value="8">Venezuela</option>
                              <option  value="10">Colombia</option>
                           </select>
                       
                       </div>
                  </td>
                    <td>
                        <div class="form-group">
                            <label for="selRegion">Región:</label>
                            <select class="form-control"   formControlName="assistRegion">
                              <option  value="16" selected>Estados Unidos e Canada </option>
                              <option  value="9">Asia</option>
                              <option  value="10">Europa</option>
                              <option  value="17">Demais paises</option>
                              <option  value="5">Sudamerica y Caribe</option>
                              <option  value="2">Oceanía</option>
                              <option  value="9">Africa</option>
                           </select>
                        </div>
                    </td>

                    <td>
                        <div class="form-group">
                            <label for="key">Fecha de salida</label>
                            <input type="date" class="form-control" id="input_email" formControlName="entiKey"
                                 min="0" required>
                        </div>
                    </td>
                
                  </tr>
                  <tr>
                    <td> 
                        <div class="form-group">
                            <label for="key">Fecha de llegada</label>
                            <input type="date" class="form-control" id="input_email" formControlName="entiKey"
                                  required>
                       
                       </div>
                   </td>
                    <td> 
                        <div class="form-group">
                        <label for="totalPax">Emitir con asignación</label>
                        <input type="text" class="form-control" formControlName="totalPax"
                              required>
                       
                       </div>
                    </td>

                    <td> 
                        <div class="form-group">
                        <label for="totalPax">Nombre del beneficiario</label>
                        <input type="text" class="form-control" formControlName="totalPax"
                            placeholder="nombre"  required>
                       
                       </div>
                    </td>
                 
                  </tr>
                  <tr>
                    <td>
                        <div class="form-group">
                            <label for="totalPax">Apellido del beneficiario</label>
                            <input type="number" class="form-control" formControlName="edadPax"
                                placeholder="Apellido"  required>
                           
                           </div>
                    </td>
                    <td>  
                        <div class="form-group">
                        <label for="sel1">Día de cumpleaños:</label>
                        <input type="number" placeholder="Día" min="0" class="form-control" formControlName="edadPax"
                          >
                    </div>
                   </td>

                   <td>  
                    <div class="form-group">
                    <label for="sel1">Mes de cumpleaños:</label>
                    <input type="number" placeholder="mes"  min="0" class="form-control" formControlName="edadPax"
                      >
                </div>
               </td>
                  
                  </tr>   
                  <tr>
                    <td>
                        <div class="form-group">
                            <label for="totalPax">Año de cumpleaños</label>
                            <input type="number" class="form-control" formControlName="edadPax"
                                placeholder="año" min="0" required>
                           
                           </div>
                    </td>
                    <td>  
                        <div class="form-group">
                        <label for="sel1">Tipo de Documento:</label>
                        <select class="form-control"   formControlName="listProduct">
                            <option  value="DNI" selected>DNI </option>
                            <option  value="Pasaporte">Pasaporte</option>
                            
                         </select>
                    </div>
                   </td>

                   <td>  
                    <div class="form-group">
                    <label for="sel1">Número de dni o pasaporte:</label>
                    <input type="number" class="form-control" formControlName="edadPax"
                    placeholder="número" min="0" required>
                 
                </div>
               </td>
                  
                  </tr>   
                  <tr>
                    <td>
                        <div class="form-group">
                            <label for="totalPax">Teléfono de contacto:</label>
                            <input type="number" class="form-control" formControlName="edadPax"
                                placeholder="número" min="0" required>
                           
                           </div>
                    </td>
                    <td>  
                        <div class="form-group">
                        <label for="sel1">Nacionalidad:</label>
                        <select class="form-control"   formControlName="assistPais">
                            <option  value="1" selected>Estados Unidos </option>
                            <option  value="4">Brasil</option>
                            <option  value="5">España</option>
                            <option  value="8">Venezuela</option>
                            <option  value="10">Colombia</option>
                         </select>
                    </div>
                   </td>

                   <td>  
                    <div class="form-group">
                    <label for="sel1">País de residencia:</label>
                    <select class="form-control"   formControlName="assistPais">
                        <option  value="1" selected>Estados Unidos </option>
                        <option  value="4">Brasil</option>
                        <option  value="5">España</option>
                        <option  value="8">Venezuela</option>
                        <option  value="10">Colombia</option>
                     </select>
                </div>
               </td>
                  
                  </tr>   
                  <tr>
                    <td>
                        <div class="form-group">
                            <label for="totalPax">Teléfono principal:</label>
                            <input type="number" class="form-control" formControlName="edadPax"
                                placeholder="número" min="0" required>
                           
                           </div>
                    </td>
                    <td>  
                        <div class="form-group">
                        <label for="sel1">Email del beneficiario:</label>
                        <input type="email" class="form-control" formControlName="edadPax"
                        placeholder="text"  required>
                    </div>
                   </td>

                   <td>  
                    <div class="form-group">
                    <label for="sel1">Contacto de emergencia:</label>
                    <input type="text" class="form-control" formControlName="edadPax"
                    placeholder="contacto"  required>
                </div>
               </td>
                  
                  </tr>   
              </table>
                  
            
                    <div class="col-12">
                        <a  (click)="Emit()" class="btn btn-success btn-block active prod" role="button" aria-pressed="true">Emitir póliza</a>
                     
                    </div>
            
                    <div id="container_or" class="col-12 my-2">
                        <hr />
                        <span class="ion-text-center ion-no-margin"></span>
                    </div>
            
                </div>
            </form> 
        
            </div>  
            
            
<form class="planes"  [formGroup]="plan" *ngIf="secure">
    <h3>Detalle de plan </h3>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="input_email">Usuario</label>
                <input type="text" class="form-control" id="input_email" formControlName="loginPlan"
                    placeholder="Usúario" required>
               
            </div>
           
        </div>
        <div class="col-12 mb-4">
            <div class="form-group">
                <label for="input_password">Contraseña</label>
                <input type="password" class="form-control" id="input_password" formControlName="senhaPlan"
                    placeholder="Senha" required>
            </div>
        </div>

   <div class="col-12 mb-4">
      <div class="form-group">
        <label for="sel1">Seleccionar seguro:</label>
      <select class="form-control sel1"   formControlName="seguroPlan">
        <option  value="2076" selected>AFFINITY 110 </option>
        <option  value="2077">AFFINITY 110 FRIENDS 2</option>
        <option  value="2078">AFFINITY 110 FRIENDS 5</option>
        <option  value="2079">AFFINITY 330</option>
        <option  value="2080">AFFINITY 500</option>
     </select>
    </div>
   </div>
      

        <div class="col-12">
            <button (click)="GetPlanosById()" class="btn btn-success btn-block bttn" >
                Ver plan
            </button>
        </div>

        <div id="container_or" class="col-12 my-2">
            <hr />
            <span class="ion-text-center ion-no-margin"></span>
        </div>

    </div>
</form>    

<form class="cotizacion" [formGroup]="getCot" *ngIf="secure">
    <h3>Obtener cotización </h3>
  <div class="row">
   <table class="table table">
      <tr>
        <td> 
            <div class="form-group">
              <label for="input_email">Usuario</label>
              <input type="email" class="form-control" id="input_email" formControlName="userCot"
                placeholder="Usúario" required>
           </div>
        </td>
        <td>
             <div class="form-group">
            <label for="input_password">Contraseña</label>
            <input type="password" class="form-control" id="input_password" formControlName="senhaCot"
                placeholder="Senha" required>
            </div>
       </td>
       
      </tr>
      <tr>
        <td>
            <div class="form-group">
            <label for="input_email">Código del plan</label>
            <input type="number" class="form-control" id="input_email" formControlName="cod"
                placeholder="Id" min="0" required>
           
           </div>
      </td>
        <td>
            <div class="form-group">
                <label for="input_email">Fecha de inicio</label>
                <input type="date" class="form-control"  formControlName="finicio" required>
            </div>
        </td>
    
      </tr>
      <tr>
        <td> 
            <div class="form-group">
            <label for="input_email">Fecha de fin</label>
            <input type="date" class="form-control"  formControlName="ffin" required>
           
           </div>
       </td>
        <td> 
            <div class="form-group">
            <label for="input_email">Número de pasajeros</label>
            <input type="number" class="form-control" formControlName="numeroPax"
                placeholder="número" min="0" required>
           
           </div>
        </td>
     
      </tr>
      <tr>
        <td>
            <label for="input_email">Familiar</label>
            <input type="checkbox" class="form-control box" formControlName="famPax">
        </td>
        <td>  
            <div class="form-group">
            <label for="sel1">Destino:</label>
          <select class="form-control"   formControlName="destPax">
            <option  value="1" selected>Estados Unidos e Canada </option>
            <option  value="4">Brasil</option>
            <option  value="5">Europa</option>
            <option  value="8">Demais paises/option>
            <option  value="10">America Latina</option>
         </select>
        </div>
       </td>
      
      </tr>
      <tr>
        <td>
             <div class="form-group">
            <label for="input_email">Código de cancelación (opcional)</label>
            <input type="number" class="form-control" formControlName="codcanelacion"
                placeholder="número" min="0" required>
           
           </div>
        </td>
        <td>
            <div class="form-group">
                <label for="input_email"> Código de actualización de covid (opcional)</label>
                <input type="number" class="form-control" formControlName="codcovid"
                    placeholder="número" min="0" required> 
            </div>
        </td>
        
      </tr>
     
  </table>
      

        <div class="col-12">
            <button (click)="GetCotacao()" class="btn btn-success btn-block bttn" >
                Cotacao
            </button>
        </div>

        <div id="container_or" class="col-12 my-2">
            <hr />
            <span class="ion-text-center ion-no-margin"></span>
        </div>

    </div>
</form> 

<form class="cotizacinCat" [formGroup]="getCotCat" *ngIf="secure">
    <h3>Cotización por categoría </h3>
  <div class="row">
   <table class="table table">
      <tr>
        <td> 
            <div class="form-group">
              <label for="input_email">Usuario</label>
              <input type="email" class="form-control" id="input_email" formControlName="getlogin"
                placeholder="Usúario" required>
           </div>
        </td>
        <td>
             <div class="form-group">
            <label for="input_password">Contraseña</label>
            <input type="password" class="form-control" id="input_password" formControlName="senhaCat"
                placeholder="Senha" required>
            </div>
       </td>
       
      </tr>
      <tr>
        <td>
            <div class="form-group">
                <label for="sel1">Categoria:</label>
              <select class="form-control"   formControlName="destinoCat">
                <option  value="n" selected>Nacional </option>
                <option  value="i">Internacional</option>
             </select>
            </div>
      </td>
        <td>
            <div class="form-group">
                <label for="input_email">Fecha de inicio</label>
                <input type="date" class="form-control"  formControlName="finicioCat" required>
            </div>
        </td>
    
      </tr>
      <tr>
        <td> 
            <div class="form-group">
            <label for="input_email">Fecha de fin</label>
            <input type="date" class="form-control"  formControlName="ffinCat" required>
           
           </div>
       </td>
        <td> 
            <div class="form-group">
            <label for="input_email">Número de pasajeros</label>
            <input type="number" class="form-control" formControlName="numeroCat"
                placeholder="número" min="0" required> 
           
           </div>
        </td>
     
      </tr>
      <tr>
       
        <td>  
            <div class="form-group">
            <label for="sel1">Destino:</label>
          <select class="form-control"   formControlName="destCat" required>
            <option  value="1" selected>Estados Unidos e Canada </option>
            <option  value="4">Brasil</option>
            <option  value="5">Europa</option>
            <option  value="8">Demais paises/option>
            <option  value="10">America Latina</option>
         </select>
        </div>
       </td>

       <td>
        <div class="form-group">
       <label for="input_email">Código de cancelación (opcional)</label>
       <input type="number" class="form-control" formControlName="codcanelacionCat"
           placeholder="número" min="0" required>
      
      </div>
   </td>
      
      </tr>
      <tr>
        <td>
            <div class="form-group">
                <label for="input_email"> Código de actualización de covid (opcional)</label>
                <input type="number" class="form-control" formControlName="codcovidCat"
                    placeholder="número" min="0" required>
               </div>
        </td>
        
      </tr>
     
  </table>
      

        <div class="col-12">
            <button (click)="GetCotacaoCategoria()" class="btn btn-success btn-block bttn" >
                Ver cotação
            </button>
        </div>

        <div id="container_or" class="col-12 my-2">
            <hr />
            <span class="ion-text-center ion-no-margin"></span>
        </div>

    </div>
</form> 

<form class="planes" [formGroup]="devCam" *ngIf="secure">
    <h3>Devolver valor de cambio </h3>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="input_email">Usuario</label>
                <input type="text" class="form-control" id="input_email" formControlName="logCam"
                    placeholder="Usúario" required>
               
            </div>
           
        </div>
        <div class="col-12 mb-4">
            <div class="form-group">
                <label for="input_password">Contraseña</label>
                <input type="password" class="form-control" id="input_password" formControlName="senhaCam"
                    placeholder="Senha" required>
            </div>
        </div>

        <div class="col-12 mb-4">
            <div class="form-group">
                <label for="input_password">Fecha</label>
                <input type="date" class="form-control" id="input_password" formControlName="valorCam" required>
            </div>
        </div>

        <div class="col-12">
            <button (click)="GetCambio()" class="btn btn-success btn-block bttn" >
                Ver
            </button>
        </div>

        <div id="container_or" class="col-12 my-2">
            <hr />
            <span class="ion-text-center ion-no-margin"></span>
        </div>

    </div>
</form>    

<form class="cotizaDestino" [formGroup]="cotDest" *ngIf="secure">
    <h3>Cotización por Destino </h3>
  <div class="row">
   <table class="table table">
      <tr>
        <td> 
            <div class="form-group">
              <label for="input_email">Usuario</label>
              <input type="text" class="form-control" id="input_email" formControlName="userDest"
                placeholder="Usúario" required>
           </div>
        </td>
        <td>
             <div class="form-group">
            <label for="input_password">Contraseña</label>
            <input type="password" class="form-control" id="input_password" formControlName="senhaDest"
                placeholder="Senha" required>
            </div>
       </td>
       
      </tr>
      <tr>

        <td>
            <div class="form-group">
                <label for="sel1">Destino:</label>
                <select class="form-control"   formControlName="dest" required>
                  <option  value="1" >Estados Unidos e Canadá </option>
                  <option  value="4">Brasil</option>
                  <option  value="5" >Europa </option>
                  <option  value="8">Demais países</option>
                  <option  value="10" >América Latina </option>
               </select>
            </div>
        </td>
        <td>
            <div class="form-group">
                <label for="sel1">Categoria:</label>
              <select class="form-control"   formControlName="catDest" required>
                <option  value="7" selected>Receptivo </option>
                <option  value="9">Corporativo Multiviagens</option>
                <option  value="11" >Estudante </option>
                <option  value="12">Semestral</option>
                <option  value="17">Lazer/Negócios</option>
             </select>
            </div>
      </td>
       
    
      </tr>
      <tr>
        <td> 
            <div class="form-group">
            <label for="input_email">Fecha de fin</label>
            <input type="date" class="form-control"  formControlName="ffinDest" required>
           
           </div>
       </td>
        <td> 
            <div class="form-group">
                <label for="input_email">Fecha de inicio</label>
                <input type="date" class="form-control"  formControlName="finicioDest" required>
            </div>

          
        </td>
     
      </tr>
      <tr>
       
        <td>  
            <div class="form-group">
                <label for="input_email">Número de pasajeros</label>
                <input type="number" class="form-control" formControlName="numeroPaxDest" placeholder="número" min="0" required> 
            </div>
       </td>

       <td>
        <label for="input_email">Familiar</label>
        <input type="checkbox" class="form-control box" formControlName="familiaCotDest" required>    
      </td>
      
      </tr>
      <tr>
        <td>
        <div class="form-group">
            <label for="input_email">Código de cancelación (opcional)</label>
            <input type="number" class="form-control" formControlName="cancelDest"
                placeholder="número" min="0">
           
           </div>
        </td>   
        <td>
            
            <div class="form-group">
                <label for="input_email"> Código de actualización de covid (opcional)</label>
                <input type="number" class="form-control" formControlName="covidDest"
                    placeholder="número" min="0">
            </div>
        </td>
        
      </tr>
     
  </table>
        <div class="col-12">
            <button (click)="getCotacaoDestino()" class="btn btn-success btn-block bttn" >
                ver cotação
            </button>
        </div>
        <div id="container_or" class="col-12 my-2">
            <hr />
            <span class="ion-text-center ion-no-margin"></span>
        </div>
    </div>
</form> 

<form class="nuevoProceso" [formGroup]="newEmision" *ngIf="secure">
    <h3>Nuevo proceso de emisión </h3>
  <div class="row">
   <table class="table table">
      <tr>
        <td> 
            <div class="form-group">
              <label for="input_email">Usuario</label>
              <input type="text" class="form-control" id="input_email" formControlName="userEmision"
                placeholder="Usúario" required>
           </div>
        </td>
        <td>
             <div class="form-group">
            <label for="input_password">Contraseña</label>
            <input type="password" class="form-control" id="input_password" formControlName="senhaEmision"
                placeholder="Senha" required>
            </div>
       </td>
       
      </tr>
      <tr>

        <td>
            <div class="form-group">
                <label for="sel1">Selecciones plan:</label>
                <select class="form-control sel1"   formControlName="planEmision" required>
                  <option  value="2076" selected>AFFINITY 110 </option>
                  <option  value="2077">AFFINITY 110 FRIENDS 2</option>
                  <option  value="2078">AFFINITY 110 FRIENDS 5</option>
                  <option  value="2079">AFFINITY 330</option>
                  <option  value="2080">AFFINITY 500</option>
               </select>
            </div>
        </td>
        <td>
            <div class="form-group">
                <label for="sel1">Número de pasajero:</label>
                <input type="number" min="0" class="form-control"  formControlName="numPaxE" required>
            </div>
      </td>
       
    
      </tr>
      <tr>
        <td> 
            <div class="form-group">
            <label for="input_email">Fecha de fin</label>
            <input type="date" class="form-control"  formControlName="ffinEmision" required>
           
           </div>
       </td>
        <td> 
            <div class="form-group">
                <label for="input_email">Fecha de inicio</label>
                <input type="date" class="form-control"  formControlName="finicioEmision" required>
            </div>

          
        </td>
     
      </tr>
      <tr>
       
        <td>  
            <div class="form-group">
                <label for="input_email">Destino:</label>
                <input type="text" class="form-control" formControlName="destEmision" placeholder="destino" required> 
            </div>
       </td>

       <td>
        <label for="input_email">Familiar</label>
        <input type="checkbox" class="form-control box" formControlName="familiaCot">    
      </td>
      
      </tr>
      <tr>
        <td>
        <div class="form-group">
            <label for="input_email">Código de cancelación (opcional)</label>
            <input type="number" class="form-control" formControlName="codCancel"
                placeholder="número" min="0" required>
           
           </div>
        </td>   
        <td>
            
            <div class="form-group">
                <label for="input_email"> Código de actualización de covid (opcional)</label>
                <input type="number" class="form-control" formControlName="codCovid"
                    placeholder="número" min="0" required>
            </div>
        </td>
        
      </tr>
     
  </table>
        <div class="col-12">
            <button (click)="newProcesso()" class="btn btn-success btn-block bttn" >
                Nuevo proceso
            </button>
        </div>
        <div id="container_or" class="col-12 my-2">
            <hr />
            <span class="ion-text-center ion-no-margin"></span>
        </div>
    </div>
</form> 


<form class="newPax" [formGroup]="newPaxx" *ngIf="secure">
    <h3>Nuevo registro de Pasajeros </h3>
  <div class="row">
   <table class="table table">
      <tr>
        <td> 
            <div class="form-group">
              <label for="input_email">Usuario</label>
              <input type="text" class="form-control" id="input_email" formControlName="usuarioPax"
                placeholder="Usúario" required>
           </div>
        </td>
        <td>
             <div class="form-group">
            <label for="senha">Contraseña</label>
            <input type="password" class="form-control" id="input_password" formControlName="senhaPax"
                placeholder="Senha" required>
            </div>
       </td>

       <td> 
        <div class="form-group">
          <label for="input_email">Código de proceso</label>
          <input type="number" min="0" class="form-control"  formControlName="procesoId"
            placeholder="Pasajero" required>
       </div>
    </td>
    <td>
         <div class="form-group">
        <label for="input_password">Nombre de pasajero</label>
        <input type="text" class="form-control" id="input_password" formControlName="pax"
            placeholder="Pasajero" required>
        </div>
   </td>
       
      </tr>
      <tr>

        <td> 
            <div class="form-group">
              <label for="paxSexo">Sexo</label>
              <select class="form-control sel1"   formControlName="sexo">
                <option  value="M" selected>Masculino </option>
                <option  value="F">Femenino</option>
             </select>
           </div>
        </td>
        <td>
             <div class="form-group">
            <label for="fechaNac">Fecha de nacimiento</label>
            <input type="date" class="form-control"  formControlName="paxFech"
                placeholder="Fecha de nacimiento">
            </div>
       </td>

        <td>
            <div class="form-group">
                <label for="idade">Edad:</label>
                <input type="number" min="0" class="form-control"  formControlName="idade" required>
            </div>
        </td>
        <td>
            <label for="idade">Pasajero gestante:</label>
            <select class="form-control sel1"   formControlName="paxGestante" required>
                <option  value="S" selected>Si </option>
                <option  value="N">No</option>
             </select>
      </td>
       
    
      </tr>
      <tr>
         
        <td> 
            <div class="form-group">
              <label for="input_gestacao">Semana gestacao</label>
              <input type="number" min="0" class="form-control" formControlName="semanaGestacao"
                placeholder="Semana gestacao" required>
           </div>
        </td>
        <td>
             <div class="form-group">
            <label for="input_doc">Tipo documento de identidad</label>
            <input type="text" class="form-control"  formControlName="docTipo"
                placeholder="documento" required>
            </div>
       </td>
        <td> 
            <div class="form-group">
            <label for="input_doc">Número de Documento</label>
            <input type="number" min="0" class="form-control"  formControlName="numDoc" placeholder="Numero" required>
           
           </div>
       </td>
        <td> 
            <div class="form-group">
                <label for="input_endero">Dirección de Pasajero</label>
                <input type="text" class="form-control"  formControlName="endereco" placeholder="Dirección" required>
            </div>

          
        </td>
     
      </tr>
      <tr>

        <td> 
            <div class="form-group">
              <label for="input_numero">Número de pasajero</label>
              <input type="number" min="0" class="form-control"  formControlName="numUPax"
                placeholder="Usúario" required>
           </div>
        </td>
        <td>
             <div class="form-group">
            <label for="input_cep">CEP</label>
            <input type="number" min="0" class="form-control"  formControlName="cep"
                placeholder="CEP" required>
            </div>
       </td>
       
        <td>  
            <div class="form-group">
                <label for="input_barrio">Barrio:</label>
                <input type="text" class="form-control" formControlName="bairro" placeholder="barrio" required> 
            </div>
       </td>

       <td>
        <label for="input_complemento">Complemento</label>
        <input type="text" class="form-control box" formControlName="complemento" placeholder="complemento"required >    
      </td>
      
      </tr>
      <tr>

        <td> 
            <div class="form-group">
              <label for="input_cidade">Ciudad</label>
              <input type="text" class="form-control" id="input_ciudad" formControlName="cidade"
                placeholder="Cidade" required>
           </div>
        </td>
        <td>
             <div class="form-group">
            <label for="input_paxUf">UF</label>
            <input type="text" class="form-control"  formControlName="uf"
                placeholder="UF" required>
            </div>
       </td> 
        <td>
        <div class="form-group">
            <label for="input_email">Email</label>
            <input type="email" class="form-control" formControlName="email"
                placeholder="email" required>
           
           </div>
        </td>   
        <td>
            
            <div class="form-group">
                <label for="input_telefono"> Teléfono</label>
                <input type="number" class="form-control" formControlName="telefono"
                    placeholder="Telefono" min="0" required>
            </div>
        </td>
        
      </tr>
      <tr>

        <td>
            <div class="form-group">
                <label for="input_celular"> Celular</label>
                <input type="number" class="form-control" formControlName="celular"
                    placeholder="Celular" min="0" required>
            </div>

        </td>
      </tr>
     
  </table>
        <div class="col-12">
            <button (click)="newPax()" class="btn btn-success btn-block bttn" >
                Nuevo proceso de registro
            </button>
        </div>
        <div id="container_or" class="col-12 my-2">
            <hr />
            <span class="ion-text-center ion-no-margin"></span>
        </div>
    </div>
</form> 

<form class="planes" [formGroup]="eProceso" *ngIf="secure">
    <h3>Emitir proceso </h3>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="input_email">Usuario</label>
                <input type="text" class="form-control" id="input_email" formControlName="logProcess"
                    placeholder="Usúario" required>
               
            </div>
           
        </div>
        <div class="col-12 mb-4">
            <div class="form-group">
                <label for="input_password">Contraseña</label>
                <input type="password" class="form-control"  formControlName="senhaProcess"
                    placeholder="Senha" required>
            </div>
        </div>

        <div class="col-12 mb-4">
            <div class="form-group">
                <label for="input_proceso">Id Proceso</label>
                <input type="number" min="0" class="form-control"  formControlName="procesoId"
                    placeholder="Id proceso" required>
            </div>
        </div>

      

        <div class="col-12">
            <button (click)="emitirProceso()" class="btn btn-success btn-block bttn" >
                Emitir proceso
            </button>
        </div>

        <div id="container_or" class="col-12 my-2">
            <hr />
            <span class="ion-text-center ion-no-margin"></span>
        </div>

    </div>
</form>    

<form class="vProcess" [formGroup]="vProcess" *ngIf="secure">
    <h3>Obtener vaucher de proceso </h3>
    <div class="row">
        <div class="col-12 mb-4">
            <div class="form-group">
                <label for="input_email">Usuario</label>
                <input type="text" class="form-control" id="input_email" formControlName="vlogin"
                    placeholder="Usúario" required>
               
            </div>
        </div>
        <div class="col-12 mb-4">
            <div class="form-group">
                <label for="input_password">Contraseña</label>
                <input type="password" class="form-control"  formControlName="vSenha"
                    placeholder="Senha" required>
            </div>
        </div>

        <div class="col-12 mb-4">
            <div class="form-group">
                <label for="input_proceso">Número de Proceso</label>
                <input type="number" min="0" class="form-control"  formControlName="vProcesoid"
                    placeholder="Id proceso" required>
            </div>
        </div>

      

        <div class="col-12">
            <button (click)="getVoucherProcesso()" class="btn btn-success btn-block bttn" >
                Ver voucher
            </button>
        </div>

        <div id="container_or" class="col-12 my-2">
            <hr />
            <span class="ion-text-center ion-no-margin"></span>
        </div>

    </div>
</form>  

<form class="fecha" [formGroup]="vFecha" *ngIf="secure">
    <h3>Obtener vaucher por fecha </h3>
    <div class="row">
        <table class="table table">
      <tr>  
       <td> 
        <div class="col-12 mb-4">
            <div class="form-group">
                <label for="input_email">Usuario</label>
                <input type="text" class="form-control" id="input_email" formControlName="logFecha"
                    placeholder="Usúario" required>
               
            </div>
           
        </div>
    </td>
      <td>  
        <div class="col-12 mb-4">
            <div class="form-group">
                <label for="input_password">Contraseña</label>
                <input type="password" class="form-control"  formControlName="senhaFecha"
                    placeholder="Senha" required>
            </div>
        </div>
       </td>
    </tr>
     <tr>  
         <td>
        <div class="col-12 mb-4">
            <div class="form-group">
                <label for="input_fecha">Fecha de inicio</label>
                <input type="date"  class="form-control"  formControlName="iniFecha"
                    >
            </div>
        </div>
    </td>
    <td>
        <div class="col-12 mb-4">
            <div class="form-group">
                <label for="input_proceso">Fecha de fin</label>
                <input type="date"  class="form-control"  formControlName="finFecha"
                    >
            </div>
        </div>
    </td>
    </tr>       
    </table>
    <div class="col-12">
        <button (click)="getVoucherFecha()" class="btn btn-success btn-block bttn" >
            Ver
        </button>
    </div>
    <div id="container_or" class="col-12 my-2">
        <hr />
        <span class="ion-text-center ion-no-margin"></span>
    </div>
    </div>
</form>  

<form class="planes" [formGroup]="vDetalle" *ngIf="secure">
    <h3>Ver detalle de vaucher </h3>
    <div class="row">
        <div class="col-12 mb-4">
            <div class="form-group">
                <label for="input_email">Usuario</label>
                <input type="text" class="form-control" id="input_email" formControlName="logDetalle"
                    placeholder="Usúario" required>
               
            </div>
        </div>
        <div class="col-12 mb-4">
            <div class="form-group">
                <label for="input_password">Contraseña</label>
                <input type="password" class="form-control"  formControlName="senhaDetalle"
                    placeholder="Senha" required>
            </div>
        </div>

        <div class="col-12 mb-4">
            <div class="form-group">
                <label for="input_proceso">Número de Proceso</label>
                <input type="number" min="0" class="form-control"  formControlName="processNum"
                    placeholder="Id proceso" required>
            </div>
        </div>
        <div class="col-12 mb-4">
            <label for="idade">Idioma:</label>
            <select class="form-control sel1"   formControlName="idiomaNum" required>
                <option  value="1" selected>Português </option>
                <option  value="2">Inglês </option>
             </select>
        </div>
       
        <div class="col-12">
            <button (click)="getDetail()" class="btn btn-success btn-block bttn" >
                Ver voucher
            </button>
        </div>

        <div id="container_or" class="col-12 my-2">
            <hr />
            <span class="ion-text-center ion-no-margin"></span>
        </div>

    </div>
</form>  

<form class="vaucher" [formGroup]="vCancel" *ngIf="secure">
    <h3>Cancelar vaucher </h3>
    <div class="row">
        <div class="col-12 mb-4">
            <div class="form-group">
                <label for="input_email">Usuario</label>
                <input type="text" class="form-control" id="input_email" formControlName="logCancel"
                    placeholder="Usúario" required>
               
            </div>
        </div>
        <div class="col-12 mb-4">
            <div class="form-group">
                <label for="input_password">Contraseña</label>
                <input type="password" class="form-control"  formControlName="senhaCancel"
                    placeholder="Senha" required>
            </div>
        </div>

        <div class="col-12 mb-4">
            <div class="form-group">
                <label for="input_numeroo">Número de vaucher</label>
                <input type="number" min="0" class="form-control"  formControlName="numCancel"
                    placeholder="Número do voucher" required>
            </div>
        </div>
       
        <div class="col-12">
            <button (click)="cancelVaucher()" class="btn btn-success btn-block bttn" >
                Ver voucher
            </button>
        </div>

        <div id="container_or" class="col-12 my-2">
            <hr />
            <span class="ion-text-center ion-no-margin"></span>
        </div>

    </div>
</form>  

      
    </div>
    </div>
    <hr>
<!--app-footer></app-footer-->