.bg{
    background-color: whitesmoke !important;
}

.hotel{
   color: #E57D31 !important;
   float: left !important;
} 

.form1{
    margin-left: 50px !important;
 }

 .form{
   border: solid orange 1px;
   border-radius: 15px;
   background-color: #E46E42;
  /* opacity: 0.6;*/
}
input.form-control{
   color: #C0BEBE;
}
.locale{
color: whitesmoke;
}
.tBorder{
   margin-top: 20px !important;
   }
.hoteles{
   color: #081176;
   font-weight: bold;
   margin-bottom: 20px;
   }

   .btnBack{
      background-color: coral !important;
      margin-left: 20px !important;
      }
   

 .results{
    margin-top: 60px !important;
 }

 .views{
    margin-top: 70px !important;
 }

 .example-form {
   min-width: 150px;
   max-width: 500px;
   width: 100%;
 }
 
 .example-full-width {
   width: 100%;
 }
 
