.bg{
    background-color: whitesmoke !important;
}

.hotel{
   color: #E57D31 !important;
   float: left !important;
} 

.form1{
    margin-left: 50px !important;
 }

 .results{
    margin-top: 60px !important;
 }

 .views{
    margin-top: 70px !important;
 }
