
<app-header></app-header>
<h3 class="text-center top">Aerolíneas</h3>
<!--div class="ps-page--404">
    <div class="container"> 
        <div class="aero" [hidden]="!aero"> 
        <h3>Aerolíneas</h3> 

      <div class="row text-center"> 
          <div class="col-md-3"> 
            <div class="card" (click)="goFlight()">
              <h4 class="text-center city">Tam</h4>
              <img class="" src="assets/img/tam.png" alt="Card image cap">
            </div>
                
           </div>      
           <div class="col-md-3"> 
            <div class="card" (click)="goFlight()">
                <h4 class="text-center city">Azul</h4>
                <img class="" src="assets/img/azul.png" alt="Card image cap">
              </div>
           </div>  
        </div>    
    <br /> 
    
        <div class="row text-center"> 
            <div class="col-md-3" (click)="goFlight()"> 
                <div class="card">
                    <h4 class="text-center city">Smiles</h4>
                    <img class="" src="assets/img/smile.png" alt="Card image cap">
                  </div> 
           </div>      
           <div class="col-md-3" (click)="goFlight()"> 
            <div class="card">
                <h4 class="text-center city">Amigo</h4>
                <img class="" src="assets/img/amigo.png" alt="Card image cap">
              </div>
           
           </div>  
        </div>        
        
    </div>

<div class="search" [hidden]="!search">  
  <div class="row"> 
    <div class="col-md-5">  
    <div class="card">  
    <h4>Búsquedas</h4> 
    <br />
    <form >
        <label for="sel1">Aerolíneas:</label>
        <select class="form-control" id="sel1">
          <option>Amigo</option>
          <option>Smiles</option>
          <option>Multiplus</option>
          <option>Azul</option>
        </select>
    <br />
    <label for="sel1">Tipo:</label>
    <select class="form-control" id="sel1">
      <option>Premio</option>
      <option>Premio: Dinero del vuelo</option>
      <option>Dinero e impuestos</option>
    </select>
<br />
<label for="sel1">Aeropuerto de Salida:</label>
<select class="form-control" id="sel1">
    <option>CNF</option>
 
  </select>
<br />
<label for="sel1">Aeropuerto de Llegada:</label>
<select class="form-control" id="sel1">
    <option>GIG</option>
  
  </select>
<br />
        <div class="form-group">
          <label for="email">Fecha de Salida:</label>
          <input type="date" class="form-control" id="email">
        </div>
        <div class="form-group">
          <label for="pwd">Fecha de Regreso:</label>
          <input type="date" class="form-control"  id="pwd">
        </div>
    <br/>
    <div class="form-group">
        <label for="pwd">Adultos:</label>
        <input type="number" min="0" class="form-control"  id="pwd">
      </div>
      <br/>
      <div class="form-group">
        <label for="pwd">Niños:</label>
        <input type="number" min="0" class="form-control"  id="pwd">
      </div>
      <br/>
      <div class="form-group">
        <label for="pwd">Bebés:</label>
        <input type="number" min="0" class="form-control"  id="pwd">
      </div>
      <br/>
      <label for="sel1">Cabina:</label>
      <select class="form-control" id="sel1">
        <option>E</option>
        <option>X</option>
        <option>F</option>
      </select>
      
      <br/>
        <button type="submit" class="btn btn-primary" (click)="searchF()">Buscar</button>
      </form>
    </div>
  </div> 
</div>
</div>

<div class="results" [hidden]="!results">   

    <h4>Resultados</h4> 
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Aerolínea</th>
          <th>Premio</th>
          <th>Aeropuerto de Salida</th>
          <th>Aeropuerto de Llegada</th>
          <th>Fecha de Salida</th>
          <th>Fecha de Regreso</th>
          <th>Adultos</th>
          <th>Niños</th>
          <th>Bebés</th>
          <th>Cabina</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>TP</td>
          <td>80000</td>
          <td>BSB</td>
          <td>LIS</td>
          <td>2017-05-21</td>
          <td>2017-05-22</td>
          <td>154.61</td>
          <td>154.61</td>
          <td>0</td>
          <td>E</td>
        </tr>
       
      </tbody>
    </table>

</div>
</div>
    </div-->
    <hr>
<!--app-footer></app-footer-->