<footer class="ps-footer">
    <div class="ps-container">
        <div class="ps-footer__widgets">
            <aside class="widget widget_footer widget_contact-us">
                <h4 class="widget-title">Contáctanos</h4>
                <div class="widget_content">
                  
                    <p>Rua doutor moreira 270,loja 101 <br><a href="mailto:contact@martfury.co">xxxt@xxx.com</a></p>
                    <ul class="ps-list--social">
                        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a class="instagram" href="#"><i class="fa fa-youtube"></i></a></li>
                    </ul>
                </div>
            </aside>
            <aside class="widget widget_footer">
                <h4 class="widget-title">Soporte</h4>
                <ul class="ps-list--link">
                    <li><a href="#">Mi cuenta</a></li>
                    <li><a href="#">Políticas</a></li>
                    <li><a href="faqs.html">Términos & Condiciones</a></li>
                    <li><a href="#">Devoluciones y Reembolsos</a></li>
                    <li><a href="#">Preguntas y respuestas</a></li>
                    <li><a href="faqs.html">Reclamos</a></li>
                    <li><a href="faqs.html">Praia Soporte Chat Online</a></li>
                </ul>
            </aside>
            <aside class="widget widget_footer">
                <h4 class="widget-title">Compañía</h4>
                <ul class="ps-list--link">
                    <li><a href="about-us.html">Quienes Somos</a></li>
                    <li><a href="#" routerLink="/mision">Misión y Visión</a></li>
                    <li><a href="#">Donde Estamos</a></li>
                    <li><a href="contact-us.html">Nuestras Redes Sociales</a></li>
                    <li><a href="contact-us.html">Publica con Praia Turismo</a></li>
                </ul>
            </aside>
          
            <aside class="widget widget_footer">
                <h4 class="widget-title">Praia Negocios</h4>
                <ul class="ps-list--link">
                    <li><a href="#">Ser Freelancer</a></li>
                    <li><a href="checkout.html">Trabaja con Praia Turismo</a></li>
                    <li><a href="my-account.html">Sección de Ofertas</a></li>
    
                </ul>
            </aside>
            <aside class="widget widget_footer">
                <h4 class="widget-title">Suscríbete</h4>
                <ul class="ps-list--link">
                    <li><a href="#">Regístrate para obtener promociones & Descuentos</a></li>
                    <li><a href="checkout.html">Sin preocupaciones, No somos Spam!</a></li>
                    <div class="ps-form__right">
                        <div class="form-group--nest">
                            <input class="form-control" type="email" placeholder="Coloca tu correo">
                            <button class="ps-btn">Suscríbete</button>
                        </div>
                    </div>
                 
                </ul>
            </aside>
        </div>
        <div class="ps-footer__links">
            <p class="text-center"><strong>Disponibilizamos de todas las formas de pago</strong>
            </p>
           
            <p class="text-center"> <img src="assets/img/payments.png" alt="">  </p>
        </div>
        <div class="ps-footer__copyright">
            <p><strong>© 2020 Praia. Todos los Derechos Reservados</strong></p>
            <p><strong>Realiza tu pago seguro y con garantía</strong></p>
        </div>
    </div>
</footer>
