<app-header></app-header>
<div class="ps-panel--sidebar" id="cart-mobile">
    <div class="ps-panel__header">
        <h3>Shopping Cart</h3>
    </div>
    <div class="navigation__content">
        <div class="ps-cart--mobile">
            <div class="ps-cart__content">
                <div class="ps-product--cart-mobile">
                    <div class="ps-product__thumbnail"><a href="#"><img src="img/products/clothing/7.jpg" alt=""></a></div>
                    <div class="ps-product__content"><a class="ps-product__remove" href="#"><i class="icon-cross"></i></a><a href="product-default.html">MVMTH Classical Leather Watch In Black</a>
                        <p><strong>Sold by:</strong> YOUNG SHOP</p><small>1 x $59.99</small>
                    </div>
                </div>
            </div>
            <div class="ps-cart__footer">
                <h3>Sub Total:<strong>$59.99</strong></h3>
                <figure><a class="ps-btn" href="shopping-cart.html">View Cart</a><a class="ps-btn" href="checkout.html">Checkout</a></figure>
            </div>
        </div>
    </div>
</div>
<div class="ps-panel--sidebar" id="navigation-mobile">
    <div class="ps-panel__header">
        <h3>Categories</h3>
    </div>
    <div class="ps-panel__content">
        <ul class="menu--mobile">
            <li class="current-menu-item "><a href="#">Hot Promotions</a>
            </li>
            <li class="current-menu-item menu-item-has-children has-mega-menu"><a href="#">Consumer Electronic</a><span class="sub-toggle"></span>
                <div class="mega-menu">
                    <div class="mega-menu__column">
                        <h4>Electronic<span class="sub-toggle"></span></h4>
                        <ul class="mega-menu__list">
                            <li class="current-menu-item "><a href="#">Home Audio &amp; Theathers</a>
                            </li>
                            <li class="current-menu-item "><a href="#">TV &amp; Videos</a>
                            </li>
                            <li class="current-menu-item "><a href="#">Camera, Photos &amp; Videos</a>
                            </li>
                            <li class="current-menu-item "><a href="#">Cellphones &amp; Accessories</a>
                            </li>
                            <li class="current-menu-item "><a href="#">Headphones</a>
                            </li>
                            <li class="current-menu-item "><a href="#">Videosgames</a>
                            </li>
                            <li class="current-menu-item "><a href="#">Wireless Speakers</a>
                            </li>
                            <li class="current-menu-item "><a href="#">Office Electronic</a>
                            </li>
                        </ul>
                    </div>
                    <div class="mega-menu__column">
                        <h4>Accessories &amp; Parts<span class="sub-toggle"></span></h4>
                        <ul class="mega-menu__list">
                            <li class="current-menu-item "><a href="#">Digital Cables</a>
                            </li>
                            <li class="current-menu-item "><a href="#">Audio &amp; Video Cables</a>
                            </li>
                            <li class="current-menu-item "><a href="#">Batteries</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="current-menu-item "><a href="#">Clothing &amp; Apparel</a>
            </li>
            <li class="current-menu-item "><a href="#">Home, Garden &amp; Kitchen</a>
            </li>
            <li class="current-menu-item "><a href="#">Health &amp; Beauty</a>
            </li>
            <li class="current-menu-item "><a href="#">Yewelry &amp; Watches</a>
            </li>
            <li class="current-menu-item menu-item-has-children has-mega-menu"><a href="#">Computer &amp; Technology</a><span class="sub-toggle"></span>
                <div class="mega-menu">
                    <div class="mega-menu__column">
                        <h4>Computer &amp; Technologies<span class="sub-toggle"></span></h4>
                        <ul class="mega-menu__list">
                            <li class="current-menu-item "><a href="#">Computer &amp; Tablets</a>
                            </li>
                            <li class="current-menu-item "><a href="#">Laptop</a>
                            </li>
                            <li class="current-menu-item "><a href="#">Monitors</a>
                            </li>
                            <li class="current-menu-item "><a href="#">Networking</a>
                            </li>
                            <li class="current-menu-item "><a href="#">Drive &amp; Storages</a>
                            </li>
                            <li class="current-menu-item "><a href="#">Computer Components</a>
                            </li>
                            <li class="current-menu-item "><a href="#">Security &amp; Protection</a>
                            </li>
                            <li class="current-menu-item "><a href="#">Gaming Laptop</a>
                            </li>
                            <li class="current-menu-item "><a href="#">Accessories</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="current-menu-item "><a href="#">Babies &amp; Moms</a>
            </li>
            <li class="current-menu-item "><a href="#">Sport &amp; Outdoor</a>
            </li>
            <li class="current-menu-item "><a href="#">Phones &amp; Accessories</a>
            </li>
            <li class="current-menu-item "><a href="#">Books &amp; Office</a>
            </li>
            <li class="current-menu-item "><a href="#">Cars &amp; Motocycles</a>
            </li>
            <li class="current-menu-item "><a href="#">Home Improments</a>
            </li>
            <li class="current-menu-item "><a href="#">Vouchers &amp; Services</a>
            </li>
        </ul>
    </div>
</div>
<!--div class="navigation--list">
    <div class="navigation__content"><a class="navigation__item ps-toggle--sidebar" href="#menu-mobile"><i class="icon-menu"></i><span> Menu</span></a><a class="navigation__item ps-toggle--sidebar" href="#navigation-mobile"><i class="icon-list4"></i><span> Categories</span></a><a class="navigation__item ps-toggle--sidebar" href="#search-sidebar"><i class="icon-magnifier"></i><span> Search</span></a><a class="navigation__item ps-toggle--sidebar" href="#cart-mobile"><i class="icon-bag2"></i><span> Cart</span></a></div>
</div-->
<div class="ps-panel--sidebar" id="search-sidebar">
    <div class="ps-panel__header">
        <form class="ps-form--search-mobile" action="index.html" method="get">
            <div class="form-group--nest">
                <input class="form-control" type="text" placeholder="Search something...">
                <button><i class="icon-magnifier"></i></button>
            </div>
        </form>
    </div>
    <div class="navigation__content"></div>
</div>
<div class="ps-panel--sidebar" id="menu-mobile">
    <div class="ps-panel__header">
        <h3>Menu</h3>
    </div>
    <div class="ps-panel__content">
        <ul class="menu--mobile">
            <li class="menu-item-has-children"><a href="index.html">Home</a><span class="sub-toggle"></span>
                <ul class="sub-menu">
                    <li class="current-menu-item "><a href="index.html">Marketplace Full Width</a>
                    </li>
                    <li class="current-menu-item "><a href="homepage-2.html">Home Auto Parts</a>
                    </li>
                    <li class="current-menu-item "><a href="homepage-10.html">Home Technology</a>
                    </li>
                    <li class="current-menu-item "><a href="homepage-9.html">Home Organic</a>
                    </li>
                    <li class="current-menu-item "><a href="homepage-3.html">Home Marketplace V1</a>
                    </li>
                    <li class="current-menu-item "><a href="homepage-4.html">Home Marketplace V2</a>
                    </li>
                    <li class="current-menu-item "><a href="homepage-5.html">Home Marketplace V3</a>
                    </li>
                    <li class="current-menu-item "><a href="homepage-6.html">Home Marketplace V4</a>
                    </li>
                    <li class="current-menu-item "><a href="homepage-7.html">Home Electronic</a>
                    </li>
                    <li class="current-menu-item "><a href="homepage-8.html">Home Furniture</a>
                    </li>
                    <li class="current-menu-item "><a href="homepage-kids.html">Home Kids</a>
                    </li>
                    <li class="current-menu-item "><a href="homepage-photo-and-video.html">Home photo and picture</a>
                    </li>
                </ul>
            </li>
            <li class="menu-item-has-children has-mega-menu"><a href="shop-default.html">Shop</a><span class="sub-toggle"></span>
                <div class="mega-menu">
                    <div class="mega-menu__column">
                        <h4>Catalog Pages<span class="sub-toggle"></span></h4>
                        <ul class="mega-menu__list">
                            <li class="current-menu-item "><a href="shop-default.html">Shop Default</a>
                            </li>
                            <li class="current-menu-item "><a href="shop-default.html">Shop Fullwidth</a>
                            </li>
                            <li class="current-menu-item "><a href="shop-categories.html">Shop Categories</a>
                            </li>
                            <li class="current-menu-item "><a href="shop-sidebar.html">Shop Sidebar</a>
                            </li>
                            <li class="current-menu-item "><a href="shop-sidebar-without-banner.html">Shop Without Banner</a>
                            </li>
                            <li class="current-menu-item "><a href="shop-carousel.html">Shop Carousel</a>
                            </li>
                        </ul>
                    </div>
                    <div class="mega-menu__column">
                        <h4>Product Layout<span class="sub-toggle"></span></h4>
                        <ul class="mega-menu__list">
                            <li class="current-menu-item "><a href="product-default.html">Default</a>
                            </li>
                            <li class="current-menu-item "><a href="product-extend.html">Extended</a>
                            </li>
                            <li class="current-menu-item "><a href="product-full-content.html">Full Content</a>
                            </li>
                            <li class="current-menu-item "><a href="product-box.html">Boxed</a>
                            </li>
                            <li class="current-menu-item "><a href="product-sidebar.html">Sidebar</a>
                            </li>
                            <li class="current-menu-item "><a href="product-default.html">Fullwidth</a>
                            </li>
                        </ul>
                    </div>
                    <div class="mega-menu__column">
                        <h4>Product Types<span class="sub-toggle"></span></h4>
                        <ul class="mega-menu__list">
                            <li class="current-menu-item "><a href="product-default.html">Simple</a>
                            </li>
                            <li class="current-menu-item "><a href="product-default.html">Color Swatches</a>
                            </li>
                            <li class="current-menu-item "><a href="product-image-swatches.html">Images Swatches</a>
                            </li>
                            <li class="current-menu-item "><a href="product-countdown.html">Countdown</a>
                            </li>
                            <li class="current-menu-item "><a href="product-multi-vendor.html">Multi-Vendor</a>
                            </li>
                            <li class="current-menu-item "><a href="product-instagram.html">Instagram</a>
                            </li>
                            <li class="current-menu-item "><a href="product-affiliate.html">Affiliate</a>
                            </li>
                            <li class="current-menu-item "><a href="product-on-sale.html">On sale</a>
                            </li>
                            <li class="current-menu-item "><a href="product-video.html">Video Featured</a>
                            </li>
                            <li class="current-menu-item "><a href="product-groupped.html">Grouped</a>
                            </li>
                            <li class="current-menu-item "><a href="product-out-stock.html">Out Of Stock</a>
                            </li>
                        </ul>
                    </div>
                    <div class="mega-menu__column">
                        <h4>Woo Pages<span class="sub-toggle"></span></h4>
                        <ul class="mega-menu__list">
                            <li class="current-menu-item "><a href="shopping-cart.html">Shopping Cart</a>
                            </li>
                            <li class="current-menu-item "><a href="checkout.html">Checkout</a>
                            </li>
                            <li class="current-menu-item "><a href="whishlist.html">Whishlist</a>
                            </li>
                            <li class="current-menu-item "><a href="compare.html">Compare</a>
                            </li>
                            <li class="current-menu-item "><a href="order-tracking.html">Order Tracking</a>
                            </li>
                            <li class="current-menu-item "><a href="my-account.html">My Account</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="menu-item-has-children has-mega-menu"><a href="">Pages</a><span class="sub-toggle"></span>
                <div class="mega-menu">
                    <div class="mega-menu__column">
                        <h4>Basic Page<span class="sub-toggle"></span></h4>
                        <ul class="mega-menu__list">
                            <li class="current-menu-item "><a href="about-us.html">About Us</a>
                            </li>
                            <li class="current-menu-item "><a href="contact-us.html">Contact</a>
                            </li>
                            <li class="current-menu-item "><a href="faqs.html">Faqs</a>
                            </li>
                            <li class="current-menu-item "><a href="comming-soon.html">Comming Soon</a>
                            </li>
                            <li class="current-menu-item "><a href="404-page.html">404 Page</a>
                            </li>
                        </ul>
                    </div>
                    <div class="mega-menu__column">
                        <h4>Vendor Pages<span class="sub-toggle"></span></h4>
                        <ul class="mega-menu__list">
                            <li class="current-menu-item "><a href="become-a-vendor.html">Become a Vendor</a>
                            </li>
                            <li class="current-menu-item "><a href="vendor-store.html">Vendor Store</a>
                            </li>
                            <li class="current-menu-item "><a href="vendor-dashboard-free.html">Vendor Dashboard Free</a>
                            </li>
                            <li class="current-menu-item "><a href="vendor-dashboard-pro.html">Vendor Dashboard Pro</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="menu-item-has-children has-mega-menu"><a href="">Blogs</a><span class="sub-toggle"></span>
                <div class="mega-menu">
                    <div class="mega-menu__column">
                        <h4>Blog Layout<span class="sub-toggle"></span></h4>
                        <ul class="mega-menu__list">
                            <li class="current-menu-item "><a href="blog-grid.html">Grid</a>
                            </li>
                            <li class="current-menu-item "><a href="blog-list.html">Listing</a>
                            </li>
                            <li class="current-menu-item "><a href="blog-small-thumb.html">Small Thumb</a>
                            </li>
                            <li class="current-menu-item "><a href="blog-left-sidebar.html">Left Sidebar</a>
                            </li>
                            <li class="current-menu-item "><a href="blog-right-sidebar.html">Right Sidebar</a>
                            </li>
                        </ul>
                    </div>
                    <div class="mega-menu__column">
                        <h4>Single Blog<span class="sub-toggle"></span></h4>
                        <ul class="mega-menu__list">
                            <li class="current-menu-item "><a href="blog-detail.html">Single 1</a>
                            </li>
                            <li class="current-menu-item "><a href="blog-detail-2.html">Single 2</a>
                            </li>
                            <li class="current-menu-item "><a href="blog-detail-3.html">Single 3</a>
                            </li>
                            <li class="current-menu-item "><a href="blog-detail-4.html">Single 4</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>  <!-- Fin menu desplegable -->
<!--div id="homepage-1"-->
    <div class="ps-home-banner ps-home-banner--1 buses">

        <h1 class="text-center">Pasajes</h1>
        <h3 class="text-center green">Por Tierra</h3><br />
        <!-- INÍCIO BUSCADOR RODOVIARIAONLINE -->

<!-- FIM BUSCADOR RODOVIARIAONLINE -->
        <!--div class="ps-container">
            <div class="ps-section__left">
                <div class="ps-carousel--nav-inside owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000" data-owl-gap="0" data-owl-nav="true" data-owl-dots="true" data-owl-item="1" data-owl-item-xs="1" data-owl-item-sm="1" data-owl-item-md="1" data-owl-item-lg="1" data-owl-duration="1000" data-owl-mousedrag="on">
                    <div class="ps-banner"><a href="#"><img src="img/slider/home-1/slide-1.jpg" alt=""></a></div>
                    <div class="ps-banner"><a href="#"><img src="img/slider/home-1/slide-2.jpg" alt=""></a></div>
                    <div class="ps-banner"><a href="#"><img src="img/slider/home-1/slide-3.jpg" alt=""></a></div>
                </div>
            </div>
            <div class="ps-section__right"><a class="ps-collection" href="#"><img src="img/slider/home-1/promotion-1.jpg" alt=""></a><a class="ps-collection" href="#"><img src="img/slider/home-1/promotion-2.jpg" alt=""></a></div>
        </div-->
    </div>
    <div class="ps-newsletter rodov"> 
        <div class="coverClass">        
        <div class="rodoWidget" id="rodoviariaonline-widget" data-c="AGENCIAdf7d493580fae7a" data-l="home" data-t="n"></div>
    </div> 
    </div>
    <div class="ps-site-features rodov1">
        <div class="ps-container">
            <div class="ps-block--site-features">
                <div class="ps-block__item">
                    <div class="ps-block__left"><img src="assets/img/1.png"></div>
                    <div class="ps-block__right">
                        <h4>Selecciona tu salida</h4>
                        <p>Múltiples opciones</p>
                    </div>
                </div>
                <div class="ps-block__item">
                    <div class="ps-block__left"><img src="assets/img/2.png"></div>
                    <div class="ps-block__right">
                        <h4>Selecciona tus fechas</h4>
                        <p>y horarios de salida</p>
                    </div>
                </div>
                <div class="ps-block__item">
                    <div class="ps-block__left"><img src="assets/img/3.png"></div>
                    <div class="ps-block__right">
                        <h4>Realiza la búsqueda</h4>
                        <p>Aguarda los resultados</p>
                    </div>
                </div>
                <div class="ps-block__item">
                    <div class="ps-block__left"><img src="assets/img/4.png"></div>
                    <div class="ps-block__right">
                        <h4>Selecciona tu opción</h4>
                        <p>Coloca los pasajeros</p>
                    </div>
                </div>
                <div class="ps-block__item">
                    <div class="ps-block__left"><img src="assets/img/5.png"></div>
                    <div class="ps-block__right">
                        <h4>Realiza tu pago</h4>
                        <p>Esperar sólo el ticket</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
    <!--div class="ps-newsletter">
        <div class="ps-container">
            <form class="ps-form--newsletter" action="do_action" method="post">
                <div class="row">
                    <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12 col-12 ">
                        <div class="ps-form__left">
                            <h3>Newsletter</h3>
                            <p>Subcribe to get information about products and coupons</p>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-12 col-md-12 col-sm-12 col-12 ">
                        <div class="ps-form__right">
                            <div class="form-group--nest">
                                <input class="form-control" type="email" placeholder="Email address">
                                <button class="ps-btn">Subscribe</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div-->
    <div class="ps-newsletter">
        <h4 class="text-left lf">Información Importante</h4>
        <hr>
        <div class="ps-container">
            <p class="text-center"> <img src="assets/img/compra.png" alt="">  </p>
        </div>
    </div>
    <div class="ps-newsletter">
        <h4 class="text-left lf">Variación de Temperatura dentro del Autobus</h4>
        <hr>
        <div class="ps-container">
            <p class="text-center"> <img src="assets/img/bus.png" alt="">  </p>
        </div>
    </div>
    <div class="ps-newsletter">
        <h4 class="front text-center">Principais passagens de ônibus</h4>
        <hr>
           <div class="container">
         
        <div class="row"> 
            <div class="col-md-6"> 
            <div class="card">
                <a href="https://rodoviariaonline.com.br/passagem-onibus/mais-vendidas">  <h4 class="text-center city">Río de Janeiro</h4></a> 
                    <a href="https://rodoviariaonline.com.br/passagem-onibus/mais-vendidas">  <img class="card-img-top" src="assets/img/rio_de_janeriob.jpg" alt="Card image cap"></a> 
            </div>
           </div>      
           <div class="col-md-6"> 
            <div class="card">
                <a href="https://rodoviariaonline.com.br/passagem-onibus/mais-vendidas">   <h4 class="text-center city">Sao Paulo</h4></a> 
                <a href="https://rodoviariaonline.com.br/passagem-onibus/mais-vendidas">  <img class="card-img-top" src="assets/img/sao_paulob.jpg" alt="Card image cap"></a> 
            </div>
           </div>  
        </div> 

        <div class="row"> 
            <div class="col-md-3"> 
            <div class="card">
                <a href="https://rodoviariaonline.com.br/passagem-onibus/mais-vendidas">  <h4 class="text-center city">Sao Paulo</h4></a> 
                    <a href="https://rodoviariaonline.com.br/passagem-onibus/mais-vendidas">  <img class="card-img-top" src="assets/img/sao_paulo.jpg" alt="Card image cap"></a> 
            </div>
           </div>      
           <div class="col-md-3"> 
            <div class="card">
                <a href="https://rodoviariaonline.com.br/passagem-onibus/mais-vendidas"> <h4 class="text-center city">Curitiba</h4></a> 
                    <a href="https://rodoviariaonline.com.br/passagem-onibus/mais-vendidas"><img class="card-img-top" src="assets/img/curitiba.jpg" alt="Card image cap"></a> 
            </div>
           </div>  
           <div class="col-md-3"> 
            <div class="card">
                <a href="https://rodoviariaonline.com.br/passagem-onibus/mais-vendidas"> <h4 class="text-center city">Río de Janeiro</h4></a>
                <a href="https://rodoviariaonline.com.br/passagem-onibus/mais-vendidas"><img class="card-img-top" src="assets/img/rio_de_janeiro.jpg" alt="Card image cap"></a>
            </div>
           </div>      
           <div class="col-md-3"> 
            <div class="card">
                <a href="https://rodoviariaonline.com.br/passagem-onibus/mais-vendidas"><h4 class="text-center city">Belo Horizonte</h4></a>  
                <a href="https://rodoviariaonline.com.br/passagem-onibus/mais-vendidas"> <img class="card-img-top" src="assets/img/Belo_horizonte.jpg" alt="Card image cap"></a> 
            </div>
           </div> 




        </div> 



          </div>
    </div>
    <div class="ps-newsletter">
        <div class="ps-container">

            <p class="text-center"> <img src="assets/img/descuento.png" alt="">  </p>
        </div>
    </div>
    <div class="ps-newsletter">
        <div class="ps-container">
            <p class="text-center"> <img src="assets/img/rentalcar.png" alt="">  </p>
        </div>
    </div>
    <div class="ps-newsletter">
        <div class="ps-container">
            <p class="text-center"> <img src="assets/img/covid.png" alt="">  </p>
        </div>
    </div>
    <div class="ps-newsletter">
        <div class="ps-container">
            <p class="text-center"> <img src="assets/img/descarga.png" alt="">  </p>
        </div>
    </div>
<!--/div--> <!--fin de home page1  -->
<div class="ps-product-list ps-clothings">
    <div class="ps-container">
        <!--div class="ps-section__header">
            <h3><strong>Tus Búsquedas Recientes</strong></h3>  
            <ul class="ps-section__links">
                <li><a href="shop-grid.html">Ver Todo</a></li>
            </ul>
        </div-->

        <!--p>  <h4 class="text-left"><strong>Tus Búsquedas Recientes</strong></h4>  <a href="shop-grid.html" class="textR">Ver Todo</a>    </p-->
        <div class="ps-section__content">
            <div class="ps-carousel--nav owl-slider" data-owl-auto="false" data-owl-loop="false" data-owl-speed="10000" data-owl-gap="0" data-owl-nav="true" data-owl-dots="true" data-owl-item="7" data-owl-item-xs="2" data-owl-item-sm="2" data-owl-item-md="3" data-owl-item-lg="4" data-owl-item-xl="6" data-owl-duration="1000" data-owl-mousedrag="on">
                <div class="ps-product">
                    <div class="ps-product__thumbnail"><!--a href="product-default.html"--><img src="assets/img/products/electronic/a.png" alt=""><!--/a-->
                       
                    </div>
                    <div class="ps-product__container">
                        <div class="ps-product__content"><!--a class="ps-product__title" href="product-default.html">Marshall Kilburn Portable Wireless</a-->
                            <div class="ps-product__rating">
                             
                            </div>
  
                        </div>
                        <div class="ps-product__content hover"><!--a class="ps-product__title" href="product-default.html">Marshall Kilburn Portable Wireless</a-->
                            <!--p class="ps-product__price sale">$567.99 <del>$670.00 </del></p-->
                        </div>
                    </div>
                </div>
                <div class="ps-product">
                    <div class="ps-product__thumbnail"><!--a href="product-default.html"--><img src="assets/img/products/electronic/b.png" alt=""><!--/a-->
                   
                      
                    </div>
                    <div class="ps-product__container">
                        <div class="ps-product__content">
                            <div class="ps-product__rating">
                               
                            </div>
                           
                        </div>
                        <div class="ps-product__content hover">
                         
                        </div>
                    </div>
                </div>
                <div class="ps-product">
                    <div class="ps-product__thumbnail"><!--a href="product-default.html"--><img src="assets/img/products/electronic/c.png" alt=""><!--/a-->
                      
                  
                    </div>
                    <div class="ps-product__container">
                        <div class="ps-product__content">
                            <div class="ps-product__rating">
                              
                            </div>
                           
                        </div>
                        <div class="ps-product__content hover">
                           
                        </div>
                    </div>
                </div>
                <div class="ps-product">
                    <div class="ps-product__thumbnail"><!--a href="product-default.html"--><img src="assets/img/products/electronic/d.png" alt=""><!--/a-->
                       
                    </div>
                    <div class="ps-product__container">
                        <div class="ps-product__content">
                            <div class="ps-product__rating">
                               
                            </div>
                          
                        </div>
                        <div class="ps-product__content hover">
                           
                        </div>
                    </div>
                </div>
                <div class="ps-product">
                    <div class="ps-product__thumbnail"><!--a href="product-default.html"--><img src="assets/img/products/electronic/e.png" alt=""><!--/a-->
                       
                    </div>
                    <div class="ps-product__container">
                        <div class="ps-product__content">
                            <div class="ps-product__rating">
                               
                            </div>
                          
                        </div>
                        <div class="ps-product__content hover">
                           
                        </div>
                    </div>
                </div>
                <div class="ps-product">
                    <div class="ps-product__thumbnail"><!--a href="product-default.html"--><img src="assets/img/products/electronic/f.png" alt=""><!--/a-->
                   
                    </div>
                    <div class="ps-product__container">
                        <div class="ps-product__content">
                            <div class="ps-product__rating">
                                
                            </div>
                          
                        </div>
                       
                    </div>
                </div>
                <div class="ps-product">
                    <div class="ps-product__thumbnail"><!--a href="product-default.html"--><img src="assets/img/products/electronic/g.png" alt=""><!--/a-->
                      
                    </div>
                    <div class="ps-product__container">
                        <div class="ps-product__content"><!--a class="ps-product__title" href="product-default.html">EPSION Plaster Printer</a-->
                          
                           
                        </div>
                        <div class="ps-product__content hover">
                          
                        </div>
                    </div>
                </div>
                <div class="ps-product">
                    <div class="ps-product__thumbnail"><!--a href="product-default.html"--><img src="assets/img/products/electronic/h.png" alt=""><!--/a-->
                        
                    </div>
                    <div class="ps-product__container">
                        <div class="ps-product__content">
                           
                         
                        </div>
                        <div class="ps-product__content hover">
                          
                        </div>
                    </div>
                </div>
                <div class="ps-product">
                    <div class="ps-product__thumbnail"><!--a href="product-default.html"--><img src="assets/img/products/electronic/i.png" alt=""><!--/a-->
                        
                    </div>
                    <div class="ps-product__container">
                        <div class="ps-product__content">
                           
                        </div>
                        <div class="ps-product__content hover">
                       
                        </div>
                    </div>
                </div>
                <div class="ps-product">
                    <div class="ps-product__thumbnail"><!--a href="product-default.html"--><img src="assets/img/products/electronic/j.png" alt=""><!--/a-->
                        
                    </div>
                    <div class="ps-product__container">
                        <div class="ps-product__content">
                            
                        </div>
                        <div class="ps-product__content hover">
                         
                        </div>
                    </div>
                </div>
                <div class="ps-product">
                    <div class="ps-product__thumbnail"><!--a href="product-default.html"--><img src="assets/img/products/electronic/k.png" alt=""><!--/a-->
                       
                    </div>
                    <div class="ps-product__container">
                        <div class="ps-product__content">
                            
                        </div>
                        <div class="ps-product__content hover">
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
<hr>

<hr>
<app-footer></app-footer>
