.rodoWidget{
    background-color: transparent !important;
   
    margin-left: 20px !important;
  }

  .front {
    align-content: center;
    /*margin-left: 25px;*/
    color: gray;
    font-size: 25px;
  }
  .city {
    align-content: center;
    color: gray;
    margin-top: 3px !important;
  }

  .search-box{
    background-color: aqua !important;
  }

  .rodov{
    background-color: #F3B791 !important;
  }
  .coverClass{
    margin-bottom: 10px !important;
  }


  .rodov1{
    background-color: white !important;
    margin-top: 20px !important;
  }
