/*div#rodoviaraonline-widget div.search-box{

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: rgb(224 115 11 / 80%) !important;
    width: 100%;
    height: auto;
    overflow: auto;
    opacity: 0.8;
  
}*/


.bg{

 /* -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;*/
  background-color: rgb(224 115 11 / 80%) !important;
  /*width: 100%;
  height: auto;
  overflow: auto;
  opacity: 0.8 !important;*/

}