

<!--app-header></app-header-->
<div class="ps-page--404">
  
    <div class="container bg">
      <div class="row align">
        <div class="col-md-4">
          <a routerLink="/home" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Volver</a>
          <a routerLink="/publicar" class="btn btn-success btn-lg active align" role="button" aria-pressed="true">Publicar</a>
         

        </div>
       
      </div>
    
      
        <h1 class="title">Praia Notícias</h1>
        <hr>  
        <div class="card"> 


        </div>  
        <div class="card mb-4 shadow-sm rounde cardWidth" *ngFor="let policy of policies">
            <h5 class="card-title topTitle">{{ policy.titulo }}</h5>
            <!--svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg-->
   
            <div class="card-body">
              <img  class="card-img-top" width="" height="" src="https://prt21.000webhostapp.com/news/images/{{ policy.imagen }}" alt="">
              <p class="card-text text-justify"> {{ policy.descripcion }}</p> 
              <div class="d-flex justify-content-between align-items-center">
                <!--div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div-->
                <!--small class="text-muted">9 mins</small-->
              </div>
            </div>
          </div>

<div>


    </div>
    </div>
    <hr>
<!--app-footer></app-footer-->

