.bg{
    background-color: whitesmoke !important;
}

.align{
    float: left !important;
    margin-bottom: 20px !important;
}

.title{
    color: #1589FF;
}
.topTitle{
    margin-top: 30px !important;
}
.cardWidth{
    margin-top: 30px !important;
}

.rounde{
    border-radius: 10px;
}