<!--app-header></app-header-->
<div class="ps-page--404">
    <div class="container">
      
            <h3>Misión</h3>
            <p>Praia Transporte & Turismo e Grupo Praia epecialistas en la creación de un conjunto de servicios con muchas oportunidades para escojer en cualquier servicio de turismo en un solo lugar, Brindandole el soporte necesario al pasajero nacional e internacional a escoger sin intermediarios o con apoyo de nuestro personal online en el desarrollo de su viaje, a través de pasajes aéreos nacionales e internacionales, seguros de viajes, renta de autos, viajes en cruzeros, necesidad de transfer y pasajes a través de autobuses, asi como tambien la compra de productos internacionales que provienen de Varios paises del mundo.
            </p><br />
            <h3>Visión</h3>
            <p>Ser reconocida como una agencia Lider en el desarrollo de servicios turisticos y venta de productos nacionales e internacionales orientado a turistas y residentes.
            </p><br />
            <h3>Donde Estamos</h3>
            <p>Nos Ubicamos en Brasil - Amazonas - Manaus Centro, Rua Doutor Moreira 270, loja 101 como Agencia de Viagens Praia & Transporte e Turismo.
            </p><br />
            <h3>Quiénes Somos</h3>
            <p>Somos un grupo profundamente Humanista que busca ofrecer mejores servicios de una forma masiva a pasajeros y agentes de viajes.
            </p>

          
        </div>
    </div>
    <hr>
<!--app-footer></app-footer-->
